@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sessao1 {
    background-color: #000;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
                      url('GALARRAGA_EVENTOS_PI.png');
        
    width: 100%;
    background-repeat: no-repeat;             
    background-position: center;
    background-size: cover;
    min-height: 100vh; 
    
    padding: 120px 20px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    color: #fff;
    font-family: 'Inter', sans-serif; 
}

#logo {
    width: 200px;
    height: 150px;
}

.sessao1 h1 {
    font-family: "Anton", sans-serif;
    font-weight: 900;
    font-size: 5rem;
    line-height: 1;
    text-transform: uppercase;
    
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #c44cff;
    letter-spacing: 2px;
}

.conteudo-central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-central p {
    font-size: 30px;
    width: 40%;
    padding: 40px 0px;
}

#botao-contato {
    border-radius: 100px;
    padding: 15px 30px;
    color: #CB6CE6;
    font-size: 15px; 
    border: 3px solid #CB6CE6;
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease; 
}


#botao-contato:hover {
    background-color: #CB6CE6;
    color: #000;
    box-shadow: 0 0 15px rgba(203, 108, 230, 0.6);
}